@use "~bootstrap/scss/bootstrap-grid" as * with (
$primary: #63809a,
$secondary: #6c757d,
);
@use "./typography";
@use "./variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

:root {
  --primary: #{variables.$primary};
  --secondary: #{variables.$secondary};
  --accent: #{variables.$accent};
  --danger: #{variables.$danger};
}

html, body {
  @include typography.font-family;
  line-height: 1rem;
}

body {
  margin: 0;
}

#__next {
  height: 100% !important;
}

main {
  min-height: 90vh;
}

/*
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark);
    color: var(--light);
  }
}
*/
