@use "../styles/variables";
@use "../styles/typography";

.button {
  @include typography.light;

  border-radius: 100px;
  border: none;
  padding: 1rem;

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  }
}

.primary {
  background-color: var(--primary);
  color: white;
}

.accent {
  background-color: var(--accent);
  color: white;
}

.danger {
  background-color: var(--danger);
  color: white;
}

.rounded {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
