@use "../styles/typography";

.header {
  background: url("../assets/img/background.png"), var(--accent);
  background-blend-mode: overlay, normal;
  color: #474747;
}

.link {
  text-decoration: none !important;
  color: inherit !important;
}

.title {
  @include typography.black;

  font-size: 1.2rem;
  margin: 0;
  display: inline;
  color: #333333;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.menu {
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}
