@use "../styles/typography";

.input {
  @include typography.light;

  label {
    @include typography.regular;

    width: 100%;
    display: block;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
  }

  input {
    @include typography.light;

    width: 100%;
    border-radius: 100px;

    border: 2px solid var(--primary);
    padding: 1rem;
    box-sizing: border-box;
    max-width: 100%;

    &:focus {
      outline: none;
    }
  }
}
