.modal {
  background-color: white;
  border-radius: 20px;
  padding: 1.5rem;
  box-sizing: border-box;
  max-width: 80vw;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 900;
}

.body {
  max-height: 100vh;
  overflow-y: hidden;
}
