@use "../styles/typography";

.select {
  @include typography.light;

  --select-border: var(--primary);
  --select-focus: var(--primary);
  --select-arrow: var(--select-border);

  margin-top: 0.5rem;
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 2px solid var(--select-border);
  border-radius: 100px;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;

  &::after {
    margin-right: 1rem;
  }

  select {
    @include typography.light;

    // A reset of styles, including removing the default dropdown arrow
    appearance: none;
    // Additional resets for further consistency
    background-color: transparent;
    border: none;
    padding: 1rem;
    margin: 0;
    width: 100%;

    cursor: inherit;
    line-height: inherit;
    outline: none;



    &::-ms-expand {
      display: none;
    }

    &:focus + .focus {
      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      border: 2px solid var(--select-focus);
      border-radius: inherit;
    }
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  &::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
  }

  &:after, select {
    grid-area: select;
  }
}

.label {
  margin-left: 0.5rem;
}
