.li {
  border-radius: 100px;
  padding: 0.75rem 1.5rem;
  border: 2px solid var(--primary);
}

.inActive {
  text-decoration: line-through;
}

.price {
  font-weight: 300;
}

.priceCount {
  font-weight: 500;
  white-space: nowrap;
  margin-left: 0.5rem;
}
