.toggleButton {
  border-radius: 100%;
  background-color: white;
  color: var(--primary);

  $size: 2rem;
  width: $size;
  height: $size;
}

.active {
  background-color: var(--primary);
}

.inActive {
  background: #F2F2F2;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
}

.img {
  margin-right: 0.15rem;

  $size: 1rem;
  width: $size;
  height: $size;
}
