.div {
  display: inline-block;
  flex-shrink: 0;
  $size: 1.5rem;
  width: $size;
  height: $size;
  border-radius: 100%;
}

.danger {
  background-color: var(--danger);
}

.secondary {
  background-color: var(--secondary);
}

.primary {
  border: 2px solid var(--primary);
}
